.Footer {
  text-align: left;
  background-color: #FFC04C;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;
}
